.dropdown{
   background-color: rgba(25, 84, 166);
   color: aqua !important;
   content: none; 
}
.btn-primary {
    background-color: rgba(25, 84, 166) !important;
    color: aqua !important;
    border: none !important;
    box-shadow: none !important;
}
.btn-primary:hover {
    background-color: rgba(25, 84, 166) !important;
    color: rgb(192, 206, 226) !important;
    border: none !important;
    box-shadow: none !important;
}
.button#dropdown-basic-button.dropdown-toggle.btn.btn-primary{
    padding: 0px;
}
.dropdown-toggle::after{
    display: none;
}
div.dropdown-menu.show {
    background-color: rgba(25, 84, 166);
}
.navbar{
    background-color: rgba(25, 84, 166);
}
.fontColor{
    color: aqua !important;
}
.fontColor:hover{
    color: rgb(192, 206, 226) !important;
    background-color: rgba(25, 84, 166);
}
.dropdown-item:hover {
    background-color: rgba(25, 84, 166);
}
.margin{
    margin: 2px;
}
.logo{
    padding: 0;
    max-height: 4vw;
}